* {
  box-sizing: border-box;
}

a:hover {
  cursor: pointer;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: rgb(12, 26, 38);
  margin: 0;
  background-image: url("images/grass4.jpg");
  height: auto;
}

header {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("images/header-bg4.jpg");
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

h1 {
  font-size: 40px;
  margin: 0px;
  line-height: 1;
}

h2 {
  margin-top: 0px;
  font-size: 30px;
  font-weight: 400;
}

section {
  background-color: rgba(254, 234, 207, 0.9);
  padding: 20px;
  padding-bottom: 0px;
  margin: 0px 0px 14px 0px;
  border-radius: 5px;
  position: relative;
}

section::after {
  content: "";
  background: url(images/paw3.png);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  background-size: 30%;
}

p {
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 0 0 10px 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: rgb(71, 116, 33);
  transition: color 0.2s linear;
}

select {
  text-transform: capitalize;
}

.main {
  display: none;
  padding: 10px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

header form {
  padding: 0 6px;
  display: flex;
  align-items: center;
}

#submit,
#breed-list {
  font-size: 16px;
  margin: 10px 0px;
  height: 30px;
}

#submit {
  margin-left: 2px;
}

.dashed {
  border: 1px dashed red;
}

.error {
  display: none;
  color: red;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255, 0.8);
  padding: 24px 10px;
  margin: 0px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.5);
}

header p {
  font-size: 20px;
  padding: 0 14px;
  margin: 20px 0;
}

hr {
  border: 0;
  height: 1px;
  background: rgb(219, 204, 177);
  margin: 10px 0 0 0;
}

.sticky-form {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0;
  padding: 12px;
  font-size: 15px;
  z-index: 99;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.sticky-form:after {
  background-image: none;
}

.sticky-form form {
  display: flex;
  align-items: center;
}

.sticky-form h2 {
  display: none;
}

#breed-list-sticky {
  margin-right: 4px;
}

#breed-list-sticky,
.sticky-form input {
  height: 28px;
}

.parent section {
  min-height: 350px;
}

.dog-image {
  width: 40%;
  max-width: 200px;
  float: left;
  margin: 0px 12px 8px 0px;
}

#wiki h2 {
  display: inline-block;
  clear: left;
  font-size: 22px;
}

#wiki h2,
#wiki h3 {
  margin: 0;
  padding: 10px 0;
  font-weight: 400;
}

#wiki #Description {
  display: none;
  /* For wiki feeds that include an h2 as 'Description' */
}

p.mw-empty-elt {
  display: inline;
}

#dogApi-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10px;
}

.ext_link {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: #b5754d;
  margin: 0;
  padding: 0;
}

.ext_link a {
  display: inline-block;
  padding: 14px;
  /* for larger touch area for mobile */
}

.ext_link .fas {
  margin-right: 6px;
}

.dog-img {
  display: inline-block;
  width: 48%;
  margin-bottom: 10px;
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.yt-tn {
  width: 100%;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
  border: 3px solid rgb(238, 238, 238);
}

a:hover .yt-tn {
  border-color: rgb(71, 116, 33);
  transition: all 0.2s linear;
}

#youTube h3 {
  margin: 4px 0px;
  font-weight: 400;
  font-size: 18px;
  padding: 6px 0 4px 0;
}

.yt-meta {
  color: rgb(136, 136, 136);
  margin: 0 0 14px 0;
  font-size: 12px;
  padding: 0;
}

.yt-description {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.yt-text i.fas.fa-external-link-square-alt {
  margin-right: 5px;
  font-size: 16px;
}

#youTube hr {
  margin: 30px 0;
}

#youTube hr:last-of-type {
  margin-bottom: 0;
}

p.yt-error {
  color: rgb(255, 0, 0);
  font-weight: bold;
}

footer {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(254, 234, 207, 0.9);
  padding: 10px 0;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5)
}

footer span {
  padding: 0 10px;
}

.contact-icons {
  display: block;
  font-size: 30px;
  color: rgb(181, 117, 77);
  margin-bottom: 6px;
}

.contact-icons a {
  padding: 6px;
}

.contact-icons a:hover {
  text-decoration: none;
}

.copyright {
  font-size: 14px;
}


footer::after {
  content: "";
  background: url(images/paw3.png);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  background-size: 17%;
}

/* screen sizes 350px and Up */
@media (min-width: 350px) {
  p {
    font-size: 16px;
  }

  .container {
    padding: 24px 10px;
    border-radius: 1em;
    margin: 10px;
  }

  .sticky-form {
    font-size: 16px;
    padding: 20px;
  }
}

/* screen sizes 500px and Up */
@media (min-width: 500px) {
  .main {
    padding: 15px;
  }

  #submit,
  #breed-list {
    height: 33px;
  }

  section {
    margin-bottom: 15px;
  }

  h1 {
    font-size: 60px;
  }

  .container {
    padding: 28px;
    margin: 24px;
  }

  #submit,
  #breed-list {
    font-size: 20px;
  }

  #submit {
    margin-left: 4px;
  }

  .sticky-form {
    font-size: 18px;
  }

  .dog-img {
    width: 32%;
    height: 150px;
  }

  /* aligns last dog image to the left when at 3 columns */
  #dogApi-images:after {
    content: "";
    flex-basis: 32%;
    width: 32%;
  }

  .YT-wrap {
    display: flex;
  }

  .YT-vid {
    flex: 1 0 40%;
    margin-right: 16px;
  }

  .YT-meta {
    flex: 1 0 55%;
    overflow: hidden;
  }

  #youTube h3 {
    margin-top: 0;
    padding: 0;
    font-size: 16px;
  }
}

@media (min-width: 600px) {
  .sticky-form {
    justify-content: space-between;
  }

  .sticky-form h2 {
    display: block;
    margin: 0;
    display: inline-block;
  }

  #youTube h3 {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  p {
    font-size: 14px;
  }

  .main {
    padding: 20px;
  }

  section {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  }

  .btn {
    padding: 1rem 3rem;
  }

  .sticky-form {
    margin-bottom: 20px;
    font-size: 20px;
  }

  #breed-list-sticky,
  .sticky-form input {
    height: 34px;
  }

  .parent {
    display: flex;
  }

  .parent>div {
    flex: 1;
  }

  .container-left {
    margin-right: 10px;
  }

  .container-right {
    margin-left: 10px;
  }

  .container-left section {
    margin-bottom: 20px;
  }

  .dog-img {
    width: 47.5%;
    height: 110px;
    margin-bottom: 16px;
  }

  .YT-wrap {
    display: block;
  }

  #youTube h3 {
    font-size: 16px;
    padding-top: 6px;
  }
}

@media (min-width: 1000px) {
  p {
    font-size: 16px;
  }

  .main {
    padding: 24px;
  }

  section {
    padding: 24px;
    padding-bottom: 0px;
  }

  .sticky-form {
    padding: 24px;
    margin-bottom: 24px;
  }

  .container-left section {
    margin-bottom: 24px;
  }

  .container-left {
    margin-right: 12px;
  }

  .container-right {
    margin-left: 12px;
  }

  .dog-image {
    margin-right: 18px;
  }

  .dog-img {
    width: 31%;
    height: 100px;
    margin-bottom: 16px;
  }

  .ext_link a {
    padding: 18px;
  }

  .YT-wrap {
    display: flex;
  }

  #youTube h3 {
    font-size: 17px;
    padding-top: 0px;
  }
}

@media (min-width: 1200px) {
  .dog-img {
    width: 31%;
    height: 120px;
    margin-bottom: 18px;
  }
}